<h2 mat-dialog-title>Add New User</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="add-user-form">

    <div class="form-row">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" autocomplete="given-name" />
        @if (getError('firstName')) {
          <mat-error>{{ getError('firstName') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" autocomplete="family-name" />
        @if (getError('lastName')) {
          <mat-error>{{ getError('lastName') }}</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" autocomplete="username" />
      @if (getError('username')) {
        <mat-error>{{ getError('username') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" autocomplete="email" />
      @if (getError('email')) {
        <mat-error>{{ getError('email') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" autocomplete="new-password" />
      @if (getError('password')) {
        <mat-error>{{ getError('password') }}</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button (click)="cancel()" [disabled]="submitting()">Cancel</button>
  <button type="button" mat-flat-button color="primary" (click)="submit()" [disabled]="submitting()">
    @if (submitting()) {
      <i class="pi pi-spin pi-spinner" aria-hidden="true"></i>
      Creating…
    } @else {
      <i class="pi pi-user-plus" aria-hidden="true"></i>
      Create User
    }
  </button>
</mat-dialog-actions>
